.question-card{
  width: 30%;
  height: fit-content;
  margin-top: 3%;
}
.container{
  display: flex;
  justify-content: space-evenly;
}

.formHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
}


