.question-card{
  width: 30%;
  height: fit-content;
  margin-top: 3%;
}
.optionBlock{
  display: flex;
  flex-direction: column;
}

.formHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionItem{
  margin: 12px;
}

.actionButton{
  margin-top: 30px;
  margin-bottom: 20%;
}
