<div class="page-container">
  <div class="background">
    <div class="left">
      <h1>{{leftHeader}}</h1>
      <p>{{leftText}}</p>
      <h2>{{readMore}}</h2>
    </div>
    <div class="middle-up">
      <h2>{{cleanEnergy}}</h2>
      <p>{{middleTop}}</p>
    </div>
    <div class="middle-down-left">
      <h1>{{middleLeftHeader}}</h1>
      <p>{{middleLeftParagraf}}</p>
    </div>
    <div class="middle-down-right">
      <h1>{{middleRighrtHeader}}</h1>
      <p>{{middleRightParagraf}}</p>
    </div>
    <div class="right">
      <h1>{{rightHeader}}</h1>
      <p>{{rightParagraf}}</p>
    </div>
  </div>
  <footer class="foot"></footer>
</div>
