<form class="form" [formGroup]="createUserForm" (ngSubmit)="createUser()">

<!--  <label for="username">Userame: </label>-->
<!--  <input id="username" type="text" formControlName="username" placeholder="username">-->
  <div class="formContainer">
    <div class="form__group field">
      <input type="text" class="form__field" formControlName="username"  placeholder="username" >
      <label  class="form__label">Username</label>
    </div>
    <button mat-raised-button color="accent" type="submit">Create user</button>
    <mat-error *ngIf="wrongInput"><strong>{{wrongInputMessage}}</strong></mat-error>
  </div>
</form>

<mat-error *ngIf="err">
  <strong>{{err}}</strong>
</mat-error>
<div>
  <strong style="color: lawngreen">{{message}}</strong>
</div>
