.question-card{
  width: fit-content;
  height: fit-content;
  margin-top: 3%;
}
.container{
  display: flex;
  justify-content: space-around;
}

.contentHolder{
  display: flex;
  justify-content: center;
}


